.list-container{
  margin-top: 10px;
}
.list-container .am-card-header-content img {
  margin-right: 5px;
  width: 26px;
}
.list-container .am-card-header-extra{
  font-size: 14px;
  color: #108ee9;
  font-weight: 600;
}
.user-page .am-result-pic img{
  width: 60px;
}

.list-container {
  .am-card-header-content img{
    margin-right: 5px;
    width: 26px;
  }
  .am-card-header-extra{
  font-size: 14px;
  color: #108ee9;
  font-weight: 600;
  }
}