.list-container{
  margin-top: 10px;
}
.list-container .am-card-header-content img {
  margin-right: 5px;
  width: 26px;
}
.list-container .am-card-header-extra{
  font-size: 14px;
  color: #108ee9;
  font-weight: 600;
}
.user-page .am-result-pic img{
  width: 60px;
}
.am-modal-button-group-h .am-modal-button {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

#chat-page .chat-me .am-list-extra{
  flex-basis: auto;
}
#chat-page .chat-me .am-list-content{
  padding-right: 16px;
  text-align: right;
}
#chat-page .am-grid-icon{
  display: none
}
#chat-page .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text {
  font-size: 18px;
}
#chat-page .am-grid-text{
  margin-top: 0;
}
.emoji-btn{
  margin-right: 12px;
  line-height: 20px;
  display: inline-block;
}
.stick-footer{
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}
