@import './assets/css/iconfont.css';
@import './assets/css/style.css';
@import './components/components.scss';

.error-msg{
  color: red;
  text-align: center;
}
.bg-white{
  background: #fff;
}
.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 999;
}
.fixd-header.am-navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.page-content{
  padding: 45px 5px;
}